@import "_variables.less";

#sizes-table{
  text-align: center;
  thead {
    font-weight: bold;
  }

  @media @media-mobile {
    display: none;
    font-size: 0.6em;
  }
}

.brd-red{.brd(red);}
.brd-green{.brd(green);}
.brd-blue{.brd(blue);}
.brd-black{.brd(black);}


#navigation ul {
  li {
    font-weight: bold;
    padding: 0 5px;
  }
}

ul.navbar-space
{
  li{
    padding: 3px 0;
  }
}